:registry=https://artifactory.drillops.slb.com/artifactory/api/npm/npm-repo/
//https://artifactory.drillops.slb.com/artifactory/api/npm/npm-repo/:_password=QVAzd1plZkxvU0FzNGs1dHFFb2liZ1ltUFFU
//https://artifactory.drillops.slb.com/artifactory/api/npm/npm-repo/:username=admin
//https://artifactory.drillops.slb.com/artifactory/api/npm/npm-repo/:email=SChang8@slb.com
//https://artifactory.drillops.slb.com/artifactory/api/npm/npm-repo/:always-auth=true

cafile=ca-bundle.crt
strict-ssl=true